
    <nav _ngcontent-serverapp-c4="" id="navbar" class="navbar fixed-top shadow-sm fadeInFast" style="padding: 3vh; background-color: whitesmoke;">
      <a _ngcontent-serverapp-c4="" routerlink="/home" href="/home"><img _ngcontent-serverapp-c4="" src="/assets/alcovex-logo.png" style="height: 40px;"></a><div _ngcontent-serverapp-c4="" class="ml-auto"><a _ngcontent-serverapp-c4="" href="https://alcovex.notion.site/alcovex/Careers-AlcoveX-Product-Studio-4a329ed201c14d1dbaa08ae6d08cdb92" target="_blank" class="btn btn-blue-border">We're hiring!</a></div>
    </nav>
    <router-outlet _ngcontent-serverapp-c6=""></router-outlet>
   
    <div _ngcontent-serverapp-c3="" class="container" style="padding-top: 10vh;">
      <div _ngcontent-serverapp-c3="" class="row g-0 d-flex align-items-center mt-5 fadeIn"
      ><div _ngcontent-serverapp-c3="" class="col-sm-12 col-md-7">
          <div _ngcontent-serverapp-c3="" class="font-poppins text-blue font-size-lg">
              <b _ngcontent-serverapp-c3="">Build products that impact.</b>
          </div>
          <div _ngcontent-serverapp-c3="" class="font-poppins text-dark-blue font-size-md my-3"> Alcove's portfolio of products are used by thousands of users daily, join us in our journey and make an impact! </div>
          <div _ngcontent-serverapp-c3="">
              <button _ngcontent-serverapp-c3="" class="btn-lg btn-blue">Find out more</button>
              <a _ngcontent-serverapp-c3="" href="https://g.page/alcovepartners-vizag?share" target="_blank" class="btn-lg btn-blue-border pointer ms-1"><svg _ngcontent-serverApp-c3="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-geo-alt-fill">
                  <path _ngcontent-serverApp-c3="" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path></svg>
              </a>
                  <a _ngcontent-serverapp-c3="" href="mailto:hr@alcovex.net?Subject=Inquiry%20about%20AlcoveX" target="_top" class="btn-lg btn-blue-border pointer ms-1"><svg _ngcontent-serverApp-c3="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-envelope-fill">
                      <path _ngcontent-serverApp-c3="" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"></path>
                  </svg>
              </a>
          </div>
      </div>
      <div _ngcontent-serverapp-c3="" class="offset-1 col-md-4 d-none d-md-block p-5">
          <img _ngcontent-serverapp-c3="" src="/assets/alcove-logo.png" alt="Alcove logo" class="img-fluid">
      </div>
  </div>
  <div _ngcontent-serverapp-c3="" class="row g-0 d-flex align-items-center mt-5">
      <div _ngcontent-serverapp-c3="" class="col-12"><hr _ngcontent-serverapp-c3="" class="text-blue">
      </div>
  </div>
  <div _ngcontent-serverapp-c3="" class="row g-0 d-flex align-items-center mt-5 fadeIn">
      <div _ngcontent-serverapp-c3="" class="d-none d-md-block col-5">
          <div _ngcontent-serverapp-c3="" class="font-poppins text-blue font-size-md">
              <b _ngcontent-serverapp-c3="">InterviewBuddy</b>
          </div>
          <div _ngcontent-serverapp-c3="" class="font-poppins text-dark-blue font-size-sm mt-3"> InterviewBuddy is a premier video interviewing platform offering one-on-one personalized practice interviews with industry experts from companies like Google, Schneider Electric, Facebook, Microsoft, Qualcomm, Adobe, Samsung, Shell, Philips, Sony, HSBC, PwC, GoJek, Schlumberger and 100+ global companies &amp; startups. </div>
          <div _ngcontent-serverapp-c3="" class="mt-3">
              <a _ngcontent-serverapp-c3="" href="https://interviewbuddy.in/" target="_blank" class="btn btn-blue-border">Visit InterviewBuddy</a>
          </div>
      </div>
      <div _ngcontent-serverapp-c3="" class="col-12 offset-md-1 col-md-6 p-3">
          <img _ngcontent-serverapp-c3="" src="/assets/ib-product-image.png" alt="InterviewBuddy product image" class="img-fluid">
      </div>
    </div>
    </div>
    

      
          
          <div _ngcontent-serverapp-c3="" class="row g-0 d-flex align-items-center mt-5 fadeIn">
              <div _ngcontent-serverapp-c3="" class="col-12 col-md-6 p-3">
                  <img _ngcontent-serverapp-c3="" src="/assets/datatrove-product-image.png" alt="InterviewBuddy product image" class="img-fluid">
              </div><div _ngcontent-serverapp-c3="" class="d-none d-md-block offset-1 col-5 text-end">
                  <div _ngcontent-serverapp-c3="" class="font-poppins text-blue font-size-md">
                      <b _ngcontent-serverapp-c3="">Datatrove</b>
                  </div>
                  <div _ngcontent-serverapp-c3="" class="font-poppins text-dark-blue font-size-sm mt-3"> Datatrove is a career fulfilment tool that enables colleges &amp; universities to visualize the progress of students by streamlining and automating the management of student data and placements in order to deliver better and richer career fulfillment. </div>
                  <div _ngcontent-serverapp-c3="" class="mt-3">
                      <a _ngcontent-serverapp-c3="" href="https://gitam.datatrove.in/" target="_blank" class="btn btn-blue-border">Visit Datatrove</a>
                  </div>
              </div>
              <div _ngcontent-serverapp-c3="" class="d-md-none col-12 text-center">
                  <div _ngcontent-serverapp-c3="" class="font-poppins text-blue font-size-md">
                      <b _ngcontent-serverapp-c3="">Datatrove</b>
                  </div>
                  <div _ngcontent-serverapp-c3="" class="font-poppins text-dark-blue font-size-sm mt-3"> Datatrove is a career fulfilment tool that enables colleges &amp; universities to visualize the progress of students by streamlining and automating the management of student data and placements in order to deliver better and richer career fulfillment. </div>
                  <div _ngcontent-serverapp-c3="" class="mt-3">
                      <a _ngcontent-serverapp-c3="" href="https://gitam.datatrove.in/" target="_blank" class="btn btn-blue-border">Visit Datatrove</a>
                  </div>
              </div>
          </div>
          <div _ngcontent-serverapp-c3="" class="row g-0 d-flex align-items-center mt-5"><div _ngcontent-serverapp-c3="" class="col-12">
              <hr _ngcontent-serverapp-c3="" class="text-blue">
          </div>
      </div>
      <div _ngcontent-serverapp-c3="" id="alcove-details" class="row g-0 d-flex align-items-center my-5 fadeIn">
          <div _ngcontent-serverapp-c3="" class="col-12"><div _ngcontent-serverapp-c3="" class="font-poppins text-blue font-size-md">
              <b _ngcontent-serverapp-c3="">What is AlcoveX Product Studio?</b>
          </div>
          <div _ngcontent-serverapp-c3="" class="font-poppins text-dark-blue font-size-sm mt-3"> AlcoveX Product Studio is a unit of Alcove Business Advisory Private Ltd, it focuses on bringing together talented individuals of various disciplines to work on products from Alcove Partners' portfolio of companies. </div>
        <div _ngcontent-serverapp-c3="" class="mt-3">
              <a _ngcontent-serverapp-c3="" href="https://www.linkedin.com/company/alcovex/" target="_blank" class="btn btn-blue-border">Visit our LinkedIn</a>
          </div>
      </div>
      <div _ngcontent-serverapp-c3="" class="col-12 mt-5">
          <div _ngcontent-serverapp-c3="" class="font-poppins text-blue font-size-md">
              <b _ngcontent-serverapp-c3="">Alcove Partners</b>
          </div>
          <div _ngcontent-serverapp-c3="" class="font-poppins text-dark-blue font-size-sm mt-3"> Alcove Partners provides much-needed strategic and financial support to aspiring entrepreneurs in Andhra Pradesh. We provide mentorship, incubation space, technical and digital marketing support and financial support to startups and SMEs. </div>
          <div _ngcontent-serverapp-c3="" class="mt-3">
              <a _ngcontent-serverapp-c3="" href="http://alcovepartners.com/" target="_blank" class="btn btn-blue-border">Visit Alcove Partners</a>
          </div>
      </div>
  </div>
 
